*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
.container{
	width: 1140px;
	margin: auto;
	
}
.header{
	width: 100%;
    background: #008842;
    padding: 0px;
} 
.nav{
	width: 100%;
	/*background: #008842;*/
	display: flex;
	align-items: center;
}
.logo{
	width: 20%;
}
.menu{
	width: 110%;
    line-height: 30px;
}

.menu ul li{
	list-style: none;
	display: inline-block;
	margin-right: 32px;
}
.menu ul li a{
	font-size: 16px;
	color: #FFFBDB;
	font-weight: 700;
}
.menu ul li a:hover{
	font-size: 16px;
	color: #1B9B0A;
	/*background-color: white;*/
	font-weight: 700;
	/*padding: 20px 10px;*/
	transform: scale(1.2);
	transition: 0.5s;
}
.logo img{
	height: 50px;
	width: auto;
	margin: auto;
	border-radius: 50%;
	margin-top: 4px;
}

.roof{
	width: 100%;
	text-align: center;
	padding: 10px;
}
.roof-container{
	/*width: 100%;
	text-align: center;*/
	background-color: whitesmoke;
	padding: 10px;
}
.mySlides img{
	height: 400px;
	width: 1000px;
}
.mySlides img:hover{
	height: 400px;
	width: 1000px;
	box-shadow: 10px 10px 20px 5px rgb(0, 0, 0,1);
	transition: 0.5s;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation 
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}*/


/*login section*/
 .sub-menu{
	display: none;
	position: absolute;
}
.menu ul li:hover  .sub-menu {
	display: block;
	position: absolute;
	background: rgb(0, 100, 0);
	margin-top: 5px;
	margin-left: -15px;
	
}
.menu ul li:hover  .sub-menu ul li{
	display: block;
	margin: 10px;
	padding: 5px;
	text-align: center;
}

.menu ul li span{
	background: white;
	padding: 7px;
	font-size: 18px;
	border-radius: 50%;
}

/*<!-- footer section start-->*/

.footer1{
	display: flex;
	background: #272727;
	align-items: center;
	/*justify-content: space-between;*/
	margin: 20px 0px 0px 0px;
	color: white;
	padding: 10px;
	height: 40vh;
}
.com-desc{
	width: 30%;
	padding: 8px;
}
.com-desc p{
	line-height: 28px;
	text-align: justify;
}
.com-desc h3{
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
}
.feature{
	width: 30%;
	padding: 8px;
}
.feature ul li{
	list-style: none;
	margin-top: 5px;
	color: white;
	font-size: 16px;
}
.feature ul li a{
	color: white;
	font-size: 16px;
	transition: 0.5s;
}
.feature ul li a:hover{
	color: #1B9B0A;
	transform: scale(1.2);
	transition: 0.5s;
}
.feature p{
	font-weight: 600;
	font-size: 20px;
}
.comunication{
	width: 40%;
}
.comunication p{
	font-weight: 600;
	font-size: 20px;
}
.comunication-des{
	display: flex;
	line-height: 35px;
}
.comunication-des i{
	line-height: 28px;
	padding: 8px;
	font-size: 25px;
	color: #1B9B0A;
}
.comunication-des p{
	margin-top: 0px;
	padding-top: 0px;
}
